.editTournamentForm{
    width: 25%;
}

.editTournamentForm form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.playersEditSection{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.playersEditSection table{
    text-align: center;
    vertical-align: middle;
}